@import "reset.css";
/* reset.css 일단 적용하고 CSS 작성 시작하기. */
@import "status-bar.css";

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* TODO welcome-header__text 두줄로 나오게 하려면? => 이 div size 설정*/
#welcome-header{
    margin: 70px 0px;
    text-align: center;
    /* h1, p같은 text tag들 가운데 정렬. 아래 코드 안써도 가능 */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#welcome-header__title{
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 500;
}

.welcome-header__text{
    margin: 3px;
    opacity: 70%;
}

#login-form{
    display: flex;
    flex-direction: column;
    /* how to input width 화면에 꽉차게?? align-items: center; 코드 삭제 */
}
/* TODO 인풋에 효과 적용 */
/* TODO 버튼 CSS */