.friends-display-link{
    width: 100%;
    background-color: var(--lightgray);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* <a class="friends-display-link"> 밑의 <i> */
.friends-display-link i{
    margin: 0px 7px;
    opacity: 0.2;
}

.friends-screen__channel--header{
    margin-top: 20px;
    height: 45px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
}