.friends-display-link{
    margin-top: 20px;
    width: 100%;
    background-color: var(--lightgray);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* <a class="friends-display-link"> 밑의 <i> */
.friends-display-link i{
    margin: 0px 7px;
    opacity: 0.2;
}