.alt-header{
    margin-top: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-header__column:nth-child(2){
    font-weight: 600;
    font-size: 22px;
}

.alt-header__column:first-child{
    margin-right: auto;
}

.alt-header__column:last-child{
    margin-left: auto;
}