.nav-bar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background-color: var(--lightgray);
}

.nav-bar__list{     /* 왜 list에 작성해주는거지?? btn에 flex 적용하는거니까. */
    display: flex;
    justify-content: space-between;
}

.nav-bar__notification{
    background-color: tomato;
    color: white;
    font-weight: 500;
    width: 22px;
    height: 22px;
    display: flex;
    /* span은 inline. inline은 높이와 너비를 가지지 않으므로 block 또는 flex로 바꿔준다. */
    border-radius: 11px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 33px;
    left: 20px;
}