.nav-bar__notification{
    background-color: tomato;
    color: white;
    font-weight: 500;
    width: 22px;
    height: 22px;
    display: flex;
    /* span은 inline. inline은 높이와 너비를 가지지 않으므로 block 또는 flex로 바꿔준다. */
    border-radius: 11px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 33px;
    left: 20px;
}

@keyframes slideChatsNoti {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25%{
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
         -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    75%{
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100% {
         -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
  }

  
.chats-screen__chat-btn>span{
    animation: slideChatsNoti 1.5s ease-in-out;
}

.user-component__notification{
    background-color: tomato;
    color: white;
    font-weight: 500;
    width: 22px;
    height: 22px;
    display: flex;
    /* span은 inline. inline은 높이와 너비를 가지지 않으므로 block 또는 flex로 바꿔준다. */
    border-radius: 11px;
    justify-content: center;
    align-items: center;
}

.notification-sm{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}